---
import Nav from './Navbar.astro';
import Notification from './Notification.astro';
import InfoCard from './InfoCard.astro';

const button1 = {
  text: 'Síguenos',
  icon: 'instagram',
};
const button2 = {
  text: 'Ayuda',
};
const button3 = {
  text: 'Ver tutoriales',
};
const button4 = {
  text: 'Comprar',
};
---

<section class="content">
  <Nav />
  <article class="notifications">
    <Notification
      icon="tags"
      bg_color="#145955"
      description="Siguenos en instagram y opten un 50% de descuento en tu primer mes."
      button1={button1}
      button2={button2}
    />
    <Notification
      icon="info"
      bg_color="#5f4237"
      description="Te quedan 5 días para probar el sistema!"
      button1={button3}
      button2={button4}
    />
  </article>
  <article class="info-cards">
    <InfoCard
      icon="client-info"
      title="Clientes activos"
      countActive={{ active: 10, total: 30 }}
    />
    <InfoCard
      icon="prestamos-info"
      title="Prestamos activos"
      countActive={{ active: 8, total: 38 }}
    />
    <InfoCard icon="total-prestado" title="Total Prestado" totalMoney={1000} />
    <InfoCard icon="chart" title="Proyección de Intereses" totalMoney={10000} />
  </article>
  <article class="info-module">
    <div class="info-module-left">
      <h3>Cuentas por cobrar</h3>
    </div>
    <div class="info-module-right">
      <h3>gastos 2024</h3>
    </div>
  </article>
</section>

<style>
  .content {
    padding-left: 1rem;
    & .notifications {
      display: grid;
      gap: 0.5rem;
    }
    & .info-cards {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
    }
    & .info-module {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
      margin-right: 1rem;
      & .info-module-left,
      .info-module-right {
        border: 1px solid #232d34;
      }
    }
  }
</style>
